{"swagger":"2.0","info":{"title":"Openweathermap","description":"API for api.openweathermap.org","version":"0.0.0"},"host":"api.openweathermap.org","basePath":"/data/2.5","schemes":["http"],"paths":{"/weather/":{"get":{"tags":["Weather"],"description":"Get","operationId":"get","produces":["application/json"],"parameters":[{"name":"AppID","in":"query","description":"AppID","required":false,"type":"string","x-example":""},{"name":"q","in":"query","description":"q","required":false,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OpenWeatherMapResponse"},"examples":{"application/json":{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"base":"cmc stations","main":{"temp":286.1,"pressure":1017,"humidity":54,"temp_min":283.71,"temp_max":288.15},"wind":{"speed":2.1,"deg":290},"clouds":{"all":20},"dt":1464187006,"sys":{"type":1,"id":546,"message":0.004,"country":"US","sunrise":1464176213,"sunset":1464229053},"id":5419384,"name":"Denver","cod":200}}}},"security":[]}}},"definitions":{"OpenWeatherMapResponse":{"description":"Model for OpenWeatherMapResponse","required":["base"],"properties":{"base":{"type":"string","x-example":"cmc stations"},"clouds":{"$ref":"#/definitions/Clouds","x-example":"{\n  \"all\": 20\n}"},"cod":{"type":"integer","format":"int32","x-example":"200"},"coord":{"$ref":"#/definitions/Coord","x-example":"{\n  \"lon\": -104.98,\n  \"lat\": 39.74\n}"},"dt":{"type":"integer","format":"int32","x-example":"1464187006"},"id":{"type":"integer","format":"int32","x-example":"5419384"},"main":{"$ref":"#/definitions/Main","x-example":"{\n  \"temp\": 286.1,\n  \"pressure\": 1017,\n  \"humidity\": 54,\n  \"temp_min\": 283.71,\n  \"temp_max\": 288.15\n}"},"name":{"type":"string","x-example":"Denver"},"sys":{"$ref":"#/definitions/Sys","x-example":"{\n  \"type\": 1,\n  \"id\": 546,\n  \"message\": 0.004,\n  \"country\": \"US\",\n  \"sunrise\": 1464176213,\n  \"sunset\": 1464229053\n}"},"weather":{"type":"array","items":{"$ref":"#/definitions/Weather"},"x-example":"[\n  {\n    \"id\": 801,\n    \"main\": \"Clouds\",\n    \"description\": \"few clouds\",\n    \"icon\": \"02d\"\n  }\n]"},"wind":{"$ref":"#/definitions/Wind","x-example":"{\n  \"speed\": 2.1,\n  \"deg\": 290\n}"}}},"Sys":{"description":"Model for Sys","required":["country"],"properties":{"country":{"type":"string","x-example":"US"},"id":{"type":"integer","format":"int32","x-example":"546"},"message":{"type":"number","format":"float","x-example":"0.004"},"sunrise":{"type":"integer","format":"int32","x-example":"1464176213"},"sunset":{"type":"integer","format":"int32","x-example":"1464229053"},"type":{"type":"integer","format":"int32","x-example":"1"}}},"Clouds":{"description":"Model for Clouds","required":["all"],"properties":{"all":{"type":"integer","format":"int32","x-example":"20"}}},"Wind":{"description":"Model for Wind","required":["deg"],"properties":{"deg":{"type":"integer","format":"int32","x-example":"290"},"speed":{"type":"number","format":"float","x-example":"2.1"}}},"Main":{"description":"Model for Main","required":["humidity"],"properties":{"humidity":{"type":"integer","format":"int32","x-example":"54"},"pressure":{"type":"integer","format":"int32","x-example":"1017"},"temp":{"type":"number","format":"float","x-example":"286.1"},"temp_max":{"type":"number","format":"float","x-example":"288.15"},"temp_min":{"type":"number","format":"float","x-example":"283.71"}}},"Weather":{"description":"Model for Weather","required":["description"],"properties":{"description":{"type":"string","x-example":"few clouds"},"icon":{"type":"string","x-example":"02d"},"id":{"type":"integer","format":"int32","x-example":"801"},"main":{"type":"string","x-example":"Clouds"}}},"Coord":{"description":"Model for Coord","required":["lat"],"properties":{"lat":{"type":"number","format":"float","x-example":"39.74"},"lon":{"type":"number","format":"float","x-example":"-104.98"}}}},"securityDefinitions":{},"security":[],"tags":[{"name":"Weather","description":"Operations about Weather"}]}